/* Navbar */


.card {
    padding: 120px;
    height: 700px;
}



.pelayanan p {
    font-size: 22px;
}


/* utillity */

.nav-item .tombol {
    text-transform: uppercase;
    border-radius: 40px;

}

.tombollihatselengkapnya {
    text-transform: uppercase; 
    float: right;
    margin:10px;

}

.img100 {
    height: 100px;
    width: 100px; 
}

/* slider */

.carousel-item img {
    height: 100%;
    width: 100%;
}

.slider{
    background-color: slategrey;
    margin-bottom: 30px;
}

.slidercaption{
    position: relative;
    margin-top: 100px;

}

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.list-paket{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 100px;
    padding-top:50px;
}

/* container register */
#middle {

    width: 600px;
    margin: auto;
    
}

.bg-light{
    margin-bottom: 40px;
}



/* DESKTOP VERSION */   
@media  (min-width : 992px) {

.jumbotron {
    margin-top: -160px;
}

footer {
    background-color: #0b63dc;
}

#sticky-footer {
    flex-shrink: none;
  }

}


